body {
    display: flex;
}

.izquierda {
    width: 80%;
    background: cadetblue;
}

.derecha {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    background: rgb(21, 10, 58);
}

h1 {
    color: azure;
}

h2 {
    color: rgb(190, 223, 4);
}
h6{
    color: aqua;
    margin-top: auto;
}

.buttonTiro{
    position: absolute;
    width: 100px;
    height: 100px;
    float:right;
}
